// VARIABLES
$darkblue: #393B45;
$blue: #6E7889;
$lightblue: #D8D9DE;
$yellow: #F3B54A;
$lightyellow: #ffc563;
$red: #f44259;
$white: #fff;
$hover: all 0.3s;
$radius: 5px;

// IMPORT
@import 'partials/reset';
@import 'partials/login';
@import 'partials/nav';
@import 'partials/index';
@import 'partials/post';
@import 'partials/upload';
@import 'partials/profile-edit';
@import 'partials/form';
@import "partials/cssgram";

body{
    background: $darkblue;
    font-family: sans-serif;
    color: $white;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

h1{
    color: $yellow;
    font-size: 30px;
    padding: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

p{
    color: $white;
}

.small{
    font-size: 12px !important;
    padding: 5px 0 !important;
}

.yellow{
    color: $yellow;
}

.bold{
	font-weight: bolder;
}

.error{
    display: none;
}

::-webkit-input-placeholder {color:$white;}
:-moz-placeholder {color:$white;opacity:1;}
::-moz-placeholder {color:$white;opacity:1;}
:-ms-input-placeholder {color:$white;}
::-ms-input-placeholder {color:$white;}
::placeholder {color:$white;}