#container{
    width: 80%;
    margin: 0 auto;
    main{
        width: 100%;
        
        .grid-item {
          float: left;
          max-width: 200px;
            img{
               max-width: 200px;
            }
        }
    }
}