.partials_profile_edit{
	width: 100%;
	main{
		width: 80%;
		margin: 56px 10% 20px 10%;
		form{
			width: 45%;
			margin: 0 5% 0 0;
			float: left;
			&:nth-child(2){
				width: 45%;
				margin: 0 0 0 5%;
				float: right;
			}
		}
	}
}