.partials_profile_edit{
	#container{
		width: 100%;
		main{
			width: 80%;
			margin: 20px 10% 0 10%;
			section{
				width: 45%;
				float: left;
				&:nth-child(2){
					float: right;
				}
				form{
					width: 100%;
				}
			}
		}
	}
}